:root{
    --redTomato: #eb3d3d;
    --black: #130f40;
    --ligh-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: 1rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

@media (max-width: 991px){

    html{
        font-size: 55%;
    }
}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }
}

body{
    background-color: #eee;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--redTomato);
    color: #fff;
}